@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main Styling */
html,
body {
	font-family: "Poppins", sans-serif;
	color: #fff;
	overflow: auto;
	background: linear-gradient(
		315deg,
		rgb(5, 29, 41) 3%,
		rgb(54, 3, 43) 38%,
		rgb(37, 26, 4) 68%,
		rgb(0, 0, 0) 98%
	);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
	background-attachment: fixed;
	overflow-x: hidden;
	line-height: 1.5;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

.wave {
	background: rgb(255 255 255 / 25%);
	border-radius: 1000% 1000% 0 0;
	position: fixed;
	width: 200%;
	height: 12em;
	animation: wave 10s -3s linear infinite;
	transform: translate3d(0, 0, 0);
	opacity: 0.8;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.wave:nth-of-type(2) {
	bottom: -1.25em;
	animation: wave 18s linear reverse infinite;
	opacity: 0.8;
}

.wave:nth-of-type(3) {
	bottom: -2.5em;
	animation: wave 20s -1s reverse infinite;
	opacity: 0.9;
}

@keyframes wave {
	2% {
		transform: translateX(1);
	}

	25% {
		transform: translateX(-25%);
	}

	50% {
		transform: translateX(-50%);
	}

	75% {
		transform: translateX(-25%);
	}

	100% {
		transform: translateX(1);
	}
}

h1 {
	font-size: 42px;
}
h2 {
	font-size: 38px;
}
h4 {
	font-size: 25px;
}

h1,
h2,
h4 {
	font-family: "Libre Baskerville", sans-serif;
	margin-bottom: 15px;
}

ul {
	list-style: none;
}

p {
	font-size: 15px;
	margin: 10px 0;
	line-height: 1.7em;
	font-weight: 200;
}

a {
	text-decoration: none;
}

hr {
	border: 1px solid #1c1c1c;
}




/* Navbar */
#navbar {
	height: 120px;
	
}
#navbar .logo img {
	height: 4rem;
	
	background: transparent;
	
}

#navbar a {
	color: #ddd;
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.8px;
}

#navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#navbar ul {
	display: flex;
}

#navbar ul li {
	margin-left: 40px;
}



/* Contact Form */


#contact {
	height: 70px;
	padding-top: 50px;
	padding-bottom: 100px;
}

#contact .box-contact-features {
	float: left;
	width: 33.3%;
	text-align: center;
}

#contact .box-contact-features i {
	padding-bottom: 20px;
}

#contact .box-contact-features p {
	line-height: 0.8em;
}

#contact .features-contact .box-form {
	float: left;
	width: 50%;
	padding: 60px 10px 20px 10px;
}

#contact .features-contact .box-form iframe {
	width: 100%;
	height: 400px;
}






/* .redes{
    border: 2px ;
    border-color: #000;
    display: flex;
    justify-content: center;
} */