#contact1 {
    height: 100%;
   
  }
  
#contact1 .box-contact-features {
    float: none;
    width: 100%;
    

  }
  
  #contact1 .features-contact .box-form{
    float: none;
    width: 100%;
  }
  .navbar-nav {
    position: relative;
    right: 0;
  }
 
    
  #contact {
    padding: 30px 0;}
  #contact .contact-info p {
    font-size: 14px;
  }
  
  #contact .contact-logo img {
    height: 0px;
  }
  
  #contact .contact-social img {
    height: 20px;
    margin: 2px;
  }