@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main Styling */
html,
body {
	font-family: "Poppins", sans-serif;
	background: #000;
	color: #fff;
	line-height: 1.5;
}

h1 {
	font-size: 42px;
}
h2 {
	font-size: 38px;
}
h4 {
	font-size: 25px;
}

h1,
h2,
h4 {
	font-family: "Libre Baskerville", sans-serif;
	margin-bottom: 15px;
}

ul {
	list-style: none;
}

p {
	font-size: 15px;
	margin: 10px 0;
	line-height: 1.7em;
	font-weight: 200;
}

a {
	text-decoration: none;
}

hr {
	border: 1px solid #1c1c1c;
}

/* Utility Classes */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 5px;
}
.img-gls {
	align-items: center;
	margin-top: 0%;
	width: 50em;
	height: 30em;
}

.large {
	font-size: 18px;
	margin: 20px;
}

.display-1 {
	font-style: initial;
	font-size: 80px;
}

.btn {
	display: inline-block;
	font-size: 13px;
	padding: 20px 45px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 400;
	letter-spacing: 1px;
}

.btn-outline {
	border: 2px solid #f49020;
	color: #fff;
}

.btn-outline:hover {
	background: #f49020;
	border: 2px solid #f49020;
	color: #fff;
}

.btn-link {
	color: #f49020;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}

/* Header */
#mainheader {
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-3d-stereo-positioning-background-image-image_265254.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}
.subtitle {
	font-size: 15px;
}

/* Navbar */
#navbar {
	border-bottom: 2px solid rgba(255, 255, 255, 0.171);
	box-shadow: 1em 1em 1em 0.1em #000000;
}

#navbar .logo img {
	height: 3rem;
	box-shadow: 0em 0em 0em 0.5em #f491203a;
	background: transparent;
	border-radius: 10px;
}

#navbar a {
	color: #ddd;
	font-size: 0.8rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.8px;
}

#navbar .containerCSS {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#navbar ul {
	display: flex;
}

#navbar ul li {
	margin-left: 40px;
}

.navbar-nav {
	position: absolute;
	right: 8%;
}

.navBtn {
	border-color: white;
}





/* About */
#about {
	padding: 80px 0;
	display: flex;
}

#about .about-text {
	padding: 10px;
}
.About-title {
	margin: 20px;
}

#about .about-text p {
	padding-bottom: 30px;
}




